body {
    background-color: black;
    color: red;
    font-family: Helvetica, sans-serif;
}

.red-bold-text {
    font-weight: bold;
}

.clothing-container {
    margin-top: 20px;
}

.clothing-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    position: relative;
}

.clothing-item img {
    width: 400px;
    z-index: 1; /* Ensures the image is on top of the pseudo-element */
}
